__pycache__/
*.pyc
bias_detector_env/
bias_type_classifier_model/
fine_tuned_bert_model/
results/
results_multiclass/
model.pkl
tfidf_vectorizer.pkl
*.safetensors
*.pt
*.h5
.DS_Store
.ipynb_checkpoints/
